body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
 
  }
  
  label {
      margin-right: 0.5em;
  }
  
.text-center{
    text-align: center;
} 

label{
	display: block;
	float: left;
	margin-bottom: 5px;
	background: #FFFFFF;
	height: 16px;
	
	
	font-size: 14px;
	overflow: hidden;
	
}
input {
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;

	outline: none;
	
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
	
}
form{
    max-width:400px;
	margin:auto;
	background:#fff;
	border-radius:2px;
	padding:20px;
	
}
div{
    margin-bottom: 20px;
}
img{
    margin-top: 20px;
    height: 80px;
    width: 80px;
}